@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
	margin: 0px;
	padding: 0px;
}

:root {	
	--background-color: #fff;
    --text-color: #000;
}
[data-theme="light"] {
	--background-color: black;
	--color: #fff;
}

body{
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0;
	background-color: var(--background-color);
    color: var(--text-color);
}

h2{
	margin: 1rem 2rem;
	color: #BE4C5A;
}
[data-theme="light"] h2{
	color: #EF855C;
} 
.question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#timer{
	font-size: 1.9rem;
	color: rgb(52, 52, 252);
	text-shadow: 2px 2px 20px rgb(26, 133, 221);
	font-weight: bolder;
	position: fixed;
	right: 3vw;
	top: 8vh;
}
[data-theme="light"] #timer{
	color: rgb(236, 11, 142);
	text-shadow: 2px 2px 20px rgb(240, 47, 160);
}
.red{
	color: red;
}
.yellow{
	color: yellow;
}
.blue{
	color: rgb(42, 42, 228);
}
button{
	font-size: 20px;
	background-color: yellow;
	color: red;
	text-transform: uppercase;
	font-weight: bold;
	border: 30px;
	border-color: orangered;
	border-radius: 10px;
	padding: 0.5rem 1rem;
	cursor: pointer;
	margin-bottom: 20px;
}
button:hover{
	background-color: gold;
	color: blue;
	text-shadow: 2px 5px 20px rgb(224, 52, 52);
	transform:  translateY(-10px);
}  
.container{
	width: 60%;
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	align-items: center;
	margin: auto;
}
.userName-label{
	font-size: 1rem;
}
[data-theme= "light"] .userName-label{
	color: wheat;
}
#userName{
	border: none;
	border-bottom: 3px solid #4C1E4F;
	background: none;
	outline: none;
	color: #A10856;
}
[data-theme= "light"] #userName{
	border-bottom: 3px solid #FF7F11;
	color: purple;
}
.user{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.user label{
	margin-bottom: 0.5rem;
}

@media screen and (max-width: 900px) {
	.user{
		width: 100%;	
	}
}
.quiz{
	color: white;
}
#results{
	display: flex;
	align-items: center;
}

#switch {
    height: 0;
    width: 0;
    visibility: hidden;
    margin-left: 5%;
}

label.switch-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 70px;
    height: 35px;
    background: #42BFDD;
    display: block;
    border-radius: 10px;
    position: relative;
	margin-left: 60px;
    right: 1vw;
	top: 5vh;
}

label.switch-label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 25px;
    background: rgb(52, 52, 252);
    border-radius: 90px;
    transition: 0.3s;
}

background: rgb(236, 11, 142);

input#switch:checked+label.switch-label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label.switch-label:active:after {
    width: 80px;
}